
<h2 class="sub-header"><b>ADE7758</b>&nbsp;瞬时电参数据</h2>

<div class="table-responsive">
    <table data-toggle="table"
           data-url="/ChinaOil/findAde7758DotData.do"
           data-pagination="true"
           data-side-pagination="server"
           data-page-list="[10,5, 20, 50]"
           data-search="true"
           data-show-refresh="true"
           data-show-columns="true">
    <thead>
    <tr>
        <th data-field="address">井号</th>
        <th data-field="current">电流</th>
        <th data-field="voltage">电压</th>
        <th data-field="activePower">有功功率</th>
        <th data-field="reactivePower">无功功率</th>
        <th data-field="apparentPower">视在功率</th>
        <th data-field="powerfactor">功率因数</th>
        <th data-field="positiveActiveEnergy">正向有功电能</th>
        <th data-field="reverseActiveEnergy">负向有功电能</th>
        <th data-field="positiveReactiveEnergy">正向无功电能</th>
        <th data-field="reverseReactiveEnergy">负向无功电能</th>
        <th data-field="timestramp">时间</th>
    </tr>
    </thead>
    </table>
</div>

<script>
    $('table').bootstrapTable({locale:'zh-US'});
</script>


